html,
body {
  width: 200px;
  height: 225px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 2px;
}
.heading {
  padding: 4px;
}
.tabSelectorContainer {
  display: flex;
  font-size: 14px;
}
.tabSelectorContainer > div {
  cursor: pointer;
  padding: 3px;
  transition: background .4s, color .3s;
}
.tabSelectorContainer .first {
  border: 1px orange solid;
  border-radius: 10px 0px 0px 10px;
}
.tabSelectorContainer .middle {
  border: 1px orange solid;
}
.tabSelectorContainer .last {
  border: 1px orange solid;
  border-radius: 0px 10px 10px 0px;
}

.timeSelector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.selectedTab {
  background-color: orange;
  color: white;
}

.AlarmSetStatus {
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Just Another Hand', cursive;
  background-color: #d32f2f;
  color: white;
  font-size: 39px;
  text-align: center;
  padding: 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px #888888;
  transition: background .150ms, box-shadow 300ms;
}

.AlarmSetStatus:hover {
  background-color: #c62828;
  color: #efeded;
  box-shadow: 0px 0px;
}
